<footer>
  <div class="footer-container">
    <div class="footer-text">
      <a class="navbar-brand" href="#">
       <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
     </a>
     <span>Red Cloud 2018</span>
    </div>
    <div class="darksky">
      <a class="attribution" href="https://darksky.net/poweredby/">
        <img src="/img/poweredby-darkbackground.png">
      </a>
    </div>
  </div>
</footer>
