<footer>
  <div class="footer-container">
    <div class="footer-text">
      Red Sky 2018
    </div>
    <div class="darksky">
      <a class="attribution" href="https://darksky.net/poweredby/">
        <img src="/img/poweredby-darkbackground.png">
      </a>
    </div>
  </div>
</footer>
