<!-- <nav class="navbar navbar-custom">
  <div class="d-flex w-100">
    <a class="navbar-brand mr-0" href="/">
     <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
   </a>
  </div>
</nav> -->
