<script src="/js/pre-load.js"></script>
<div id="homepage" class="content-section-index">
  <nav class="navbar navbar-container">
    <div class="d-flex w-100">
      <a class="navbar-brand mr-0" href="/">
       <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
     </a>
    </div>
  </nav>

  <div class="landing-container">
    <div class="row">
      <div class="col-12">
        <h1>Red Cloud</h1>
        <h4>Ireland's local weather forecaster</h4>
        <form id="landing-form" class="d-flex" action="/api/weather" method="POST">
          <input id="search-bar" class="form-control form-control-md" autocomplete="off" type="text" spellcheck="false" placeholder="Enter Eircode or Town" name="address">
          <button class="btn btn-default btn-md" type="submit"><img src="/img/font-awesome_search_black.png" width="15" height="15" alt=""></img></button>
        </form>
      </div>
    </div>
  </div>
</div>
