<script src="/js/pre-load.js"></script>
<nav class="navbar navbar-custom">
  <div class="container navbar-container no-gutter">
    <a class="navbar-brand" href="#">
     <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
   </a>
   <form id="search-form" class="d-flex" action="/api/weather" method="POST">
     <input id="navbar-search" class="location-found form-control form-control-sm" type="text" placeholder="Search" name="address" value="{{address}}">
     <button id="navbar-btn" class="btn btn-default btn-sm" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <i id="fa-icon" class="far fa-image fa-lg"></i>
  </div>
</nav>
<div id="homepage" class="content-section">
  <div class="landing-container">
    <div class="row">
      <div class="col-12">
        <h1>Red Cloud</h1>
        <h5>Ireland's No.1 weather site</h5>
        <form id="landing-form" class="d-flex" action="/api/weather" method="POST">
          <input id="search-bar" class="form-control form-control-md" type="text" placeholder="Search" name="address">
          <button class="btn btn-default btn-md" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
