<div id="homepage" class="content-section">
  <div class="landing-container">
    <div class="row">
      <div class="col-12">
        <h1>Red Cloud</h1>
        <h5>Ireland's No.1 weather site</h5>
        <form id="landing-form" class="d-flex" action="/api/weather" method="POST">
          <input id="search-bar" class="form-control form-control-md" type="text" placeholder="Search" name="address">
          <button class="btn btn-default btn-md" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
