
<div id="homepage" class="content-section">
  <nav class="navbar navbar-container">
    <div class="d-flex w-100">
      <a class="navbar-brand mr-0" href="/">
       <img src="/img/red-cloud-full.png" width="30" height="30" alt="">
     </a>
    </div>
  </nav>
  <div class="landing-container">
    <div class="row">
      <div class="col-12">
        <h1>Error 404</h1>
        <h3>This is not a valid link</h3>
        <img src="/img/red-cloud-full.png" alt="red cloud">
      </div>
    </div>
  </div>
</div>
