
.content-section {
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  display: flex;
  flex-direction: column;
}

#landing {
  background-image: url(https://images.unsplash.com/photo-1516370721843-f130b65def70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2aabaa8c58005835078f6e273fe830f0&auto=format&fit=crop&w=634&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-custom {
  background-color: #333;
}

.btn-custom {
  background-color: red;
}

#search-bar {
  /*border: solid white 0.25px;*/
  box-shadow: none;
  outline: none;
  margin-right: 5px;
}

#search-form {
  width: 100%;
  max-width: 400px;
  margin-right: 1rem;
}

#fa-icon{
  color: white;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}

.no-gutter{
  padding-left: 0;
  padding-right: 0;
}

.circle {
  width: 280px;
  height: 280px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto;
  background-color: rgba(0,0,0,0.6);
}

#icon1 {
  padding-top: 20px;
}

#current-weather {
  font-size: 16px;
  font-weight: 700;
}

#current-temp {
  font-size: 25px;
  font-weight: 700;
}

#feels-like {

}

#rain-probability {
  font-size: 12px;
  padding-top: 10px;
}

.no-padding-col{
  padding-left: 0;
  padding-right: 0;
}

.edge-col {
  padding-top: 15px;
}

#next-hour-container {
  position: absolute;
  bottom: 0;
}

#next-hour {
 color: white;
 height: 100px;
 background-color: rgba(0,0,0,0.6);
}
.title {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}

.text {
 padding: 5px 20px;
 text-align: left;
}

.table-responsive {
  padding: 10px;
}

.table td {
   text-align: center;
   vertical-align: middle;
   padding: 5px;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
}

.table tbody th {
  vertical-align: middle;
}

footer {
  background-color: black;
  text-align: center;
}

.footer-container {
  padding: 20px;
}

.footer-text {
  color: white;
}

.attribution img {
  height: 2.5rem;
  margin: 20px 0;
}
