body {
 overflow-x: hidden;
 height: 100%;
}

.content-section {
  /*min-height: 100vh;*/
  height: calc(100vh - 46px);
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  display: flex;
  flex-direction: column;
}

/* NOTE: LANDING PAGE ------- */
.landing-container {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 40%;
}

#homepage {
  background-image: url(https://images.unsplash.com/photo-1504538886760-5814a96f6c92?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=15d7689dfdfb08961d092a2ab1333d09&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.content-section-index {
  /*min-height: 100vh;*/
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  display: flex;
  flex-direction: column;
}

#landing-form {
  padding-top: 20px;
}


#landing {
  background-image: url(https://images.unsplash.com/photo-1468851508491-4f854ec88aa0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e714908b0417954ef9d370c571355bf9&auto=format&fit=crop&w=634&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  min-height: 600px;
}

#img-location-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#img-location {
  color: white;
  height: 40px;
  background-color: rgba(0,0,0,0.6);
  font-size: 0.8rem;
  text-align: center;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
  max-width: 900px;
}

.navbar-custom {
  background-color: #333;
}



.btn-custom {
  background-color: red;
}

#caret {
  margin-top: 7px;
}

#search-bar {
  /*border: solid white 0.25px;*/
  box-shadow: none;
  outline: none;
  margin-right: 5px;
}

#search-form {
  width: 100%;
  max-width: 300px;
  margin-right: 1rem;
  display: block;
}

#navbar-search {
  background: transparent;
  border: none;
  border-radius: 0;
  color: white;
  width: 215px;
  text-align: center;
}



#search-menu {
  background: #333;
  outline: none;
  color: white;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 1px;
  width: calc(100% - 46px);
}

span.close {
  float: right;
  font-size: 1rem;
  line-height: 1;
  color: white;
  opacity: 0.7;
  font-weight: 400;
}

span.close:hover {
  color: white;
  opacity: 1;
}

.fa-caret-down {
  color: white;
  margin-top: 7px;
  font-size: 0.65rem;
}

li {
  padding: 0 8px;
}

a {
  color: white;
}


#navbar-btn {
  background-color: transparent;
  border: none;
}

#img-btn {
  background-color: transparent;
  border: 0;
  outline: none;
}

.icons {
  color: white;
}

#landing-wrapper {
  display: block;
}

/*.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}*/

.no-gutter{
  padding-left: 0;
  padding-right: 0;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto;
  background-color: rgba(0,0,0,0.6);
}

.rolling-metric {
  font-size: 0.75rem;
  font-weight: 500;
}

#current-weather-icon {
  padding-top: 20px;
}

#current-weather {
  font-size: 16px;
  font-weight: 700;
}

#current-temp {
  font-size: 25px;
  font-weight: 700;
}

#wind {
  font-size: 0.85rem;
}

#rain-probability {
  font-size: 12px;
  padding-top: 10px;
}

.no-padding-col{
  padding-left: 0;
  padding-right: 0;
}

.edge-col {
  padding-top: 15px;
}

.custom-container {
  max-width: 900px;
  margin: auto;
}

#warning-alerts-container {
  position: absolute;
  bottom: 105px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
}

#warning-alerts {
  color: white;
  line-height: 30px;
  padding: 0 16px;
  font-size: 0.8rem;
  text-align: center;
}

#warning-details {
  padding-left: 80px;
  float: right;
}

#warning-details:hover {
  cursor: pointer;
}

#warning-type {
  float: left;
}

#next-hour-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

#next-hour {
 color: white;
 height: 100px;
}


.title {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}

.text {
 padding: 5px 20px;
 text-align: center;
}

.table-responsive {
  padding: 10px;
}

.table td {
   text-align: center;
   vertical-align: middle;
   padding: 2.5px;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
}

.table tbody th {
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
}

.time {
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
}

.day{
  font-size: 12px;
  text-align: center;
}

#subheading {
  font-size: 10px;
}

footer {
  background-color: black;
  text-align: center;
}

.footer-container {
  padding: 20px;
}

.footer-text {
  color: white;
}

.attribution img {
  height: 2.5rem;
  margin: 20px 0;
}

#google-map{
  height: 400px;
  width: 100%;
}

.warning-headline-color{
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.warning-weather{
  width: 700px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.warning-headline-container {
  font-size: 12px;
  display:flex;
  justify-content:center;
}

.warning-title h4 {
  font-size: 1rem;
  margin-top: 20px;
}

.warning-details {
  margin-bottom: 25px;
}

.warning-container{
  padding: 20px 10px;
  background-color: #f4f4f4;
}

#weather-warnings-container {
  display: none;
}

.map-title{
  padding-bottom: 20px;
}

.warning-pad{
  padding: 0 10px;
}

.maplink {
  padding-top: 35px;
  padding-bottom: 70px;
  text-align: center;
}

.maplink a {
  color: #00819d;
}

.Yellow {
  background-color: yellow;
}

.Red {
  background-color: red;
}

.Orange {
  background-color: orange;
}

.location-box {
  text-decoration: underline;
  padding-right: 5px;
}

/* Desktops and laptops ----------- */

@media only screen
and (min-width : 1224px) {

  #landing {
    background-image: url(https://images.unsplash.com/photo-1499615767948-e6a89ef6060f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff7e0816b73331eb0f205ac167b2094f&auto=format&fit=crop&w=1050&q=80);
  }

  #navbar-search {
    width: 100%;
  }

  .navbar-container {
    min-width: 900px;
    margin: 0 auto;
  }

  .icons {
    color: grey;
  }

  .icons:hover {
    color: white;
    cursor: pointer;
  }

  span.close:hover {
    color: white;
    opacity: 1;
  }

  a:hover {
    font-weight: 500;
    color: white;
    text-decoration: none;
  }

  .warning-headline-color{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  #toTop:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .landing-container {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding-top: 12%;
  }

  {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
  }

}
