
h1 {
  margin-top: 0;
  color: red;
}

body {
  background-image: url(https://images.unsplash.com/photo-1509477317859-ce3f0c2ae7bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a92859a9901c45583a83fe169895692b&auto=format&fit=crop&w=1539&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;
}

.landing {
  display: flex;
  flex-direction: column;
}

.search-container{
  padding: 20px 0;
}

.search-bar {

}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.circle {
  width: 280px;
  height: 280px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  margin: 40px auto;
  background-color: rgba(0,0,0,0.6);
}

.next-hour {
  position: absolute;
  bottom: 0;
  height: 100px;
  color: white;
  text-align: center;
  line-height: 100px;
  background-color: rgba(0,0,0,0.6);
  text-transform: uppercase;
}

#icon1 {
  padding-top: 20px;
}

#current-weather {
  font-size: 16px;
  font-weight: 700;
}

#current-temp {
  font-size: 25px;
  font-weight: 700;
}

#feels-like {

}

#rain-probability {
  padding-top: 10px;
}

.no-padding-col{
  padding-left: 0;
  padding-right: 0;
}

.edge-col {
  padding-top: 15px;
}
